<!DOCTYPE html>
<html>
  <head>
<script>
  if(localStorage){
    dicument.write('Local storage are supported');
  }
  else {
    document.write('Local storage are not supported');
  }
  function Storedata(){
    localStorage.Username.document.getElamentById('txt-Username').value;
  }
  function getlocalStorage() {
    if(localStorage.Username){
      document.getElementById('span1').innerHTML=localStorage.Username;
    }
  }
</script>
  <body onlode="getlocalStorage()">
    <input type="text" id="txt-Username" name="Username" value=""/>
    <input type="button" onclick="Storedata()" name="name" value="storeUserName"/>
    <span id="span1"></span>

  </body>
</head>
<body>

</body>
</html>